<div class="col-md-1">
</div>

<div class="col-md-5">
  <div class="panel panel-default">
    <div class="panel-body">

      <div ng-controller="EditVehicleController" ng-init="find()">
        <form ng-upload="updateComplete(content)" ng-submit="validate()" action="/vehicles" name="editForm" novalidate>
          <input type="hidden" name="id" value="{{vehicle._id}}">
          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                <a href="javascript:void(0);">
                  <img class="media-object vehicle-avatar img-circle" ng-src="{{vehicle && vehicle.imgUrl || ''}}">
                </a>
              </div>
              <div class="col-md-3">
                <span class="file-input btn btn-default btn-file">
                  Upload&hellip; <input type="file" name="file">
                </span>
              </div>
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-success': editForm.name.$valid && submitted, 'has-error': editForm.name.$invalid && submitted }">
            <label>Nome</label>
            <div class="form-group">
              <input type="text" class="form-control" ng-model="vehicle.name" value={{vehicle.name}} required name="name" placeholder="Digite o nome do veículo">
            </div>
          </div>
          <div class="form-group">
            <label>Nome Motorista</label>
            <div class="form-group">
              <input type="text" class="form-control" ng-model="vehicle.driver" value={{vehicle.driver}} name="driver" placeholder="Digite o nome do motorista">
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-success': editForm.capacity.$valid && submitted, 'has-error': editForm.capacity.$invalid && submitted }">
            <label>Capacidade</label>
            <div class="form-group">
              <input type="number" class="form-control" ng-model="vehicle.capacity" value="{{vehicle.capacity}}" required name="capacity" placeholder="Insira a capacidade de lugares do veículo">
            </div>
          </div>
          <div class="pull-right">
            <a href="/veiculos" class="btn btn-default btn-embossed btn-lg">Voltar</a>
            <button type="submit" class="btn btn-primary btn-embossed btn-lg">Salvar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
