<div class="col-md-1">
</div>

<div class="col-md-5">
  <div class="panel panel-default">
    <div class="panel-body">

      <div ng-controller="NewVehicleController">
        <form ng-upload="uploadComplete(content)" ng-submit="validate()" action="/vehicles" name="form" novalidate>
          <div class="form-group">
            <label>Foto</label>
            <div class="form-group">
              <span class="file-input btn btn-default btn-file">
                Upload&hellip; <input type="file" name="file">
              </span>
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted, 'has-error': form.name.$invalid && submitted }">
            <label>Nome</label>
            <div class="form-group">
              <input type="text" class="form-control" ng-model="vehicle.name" required name="name" placeholder="Digite o nome do veículo" />
            </div>
          </div>
          <div class="form-group">
            <label>Nome Motorista</label>
            <div class="form-group">
              <input type="text" class="form-control" ng-model="vehicle.driver" name="driver" placeholder="Digite o nome do motorista">
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-success': form.capacity.$valid && submitted, 'has-error': form.capacity.$invalid && submitted }">
            <label>Capacidade</label>
            <div class="form-group">
              <input type="number" class="form-control" ng-model="vehicle.capacity" required name="capacity" placeholder="Insira a capacidade de lugares do veículo">
            </div>
          </div>
          <div class="pull-right">
            <a href="#/veiculos" class="btn btn-default btn-embossed">Voltar</a>
            <button type="submit" class="btn btn-primary btn-embossed">Salvar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
