<div class="col-md-8">
  <div ng-controller="ViewVehicleController" ng-init="find()">
    <blockquote>
      <div class="media">
        <a class="pull-left" href="javascript:void(0);">
          <img class="media-object vehicle-avatar img-circle" ng-src="{{vehicle && vehicle.imgUrl || ''}}">
        </a>
        <div class="media-body">
          <h4>
            <a class="media-heading" href="/veiculos/{{vehicle._id}}/editar">
              <span>{{vehicle.name}}</span>
            </a>
          </h4>
          <span>Motorista {{vehicle.driver}}</span><br>
          <span>Capacidade máxima {{vehicle.capacity}} lugares</span><br>
          <span>Ultima Atualização em {{vehicle.updatedAt}}</span><br>
          <span>Criado em {{vehicle.createdAt}}</span>
        </div>
      </div>
    </blockquote>
    <hr>
  </div>
</div>

<div class="col-md-2">
</div>
