.glyphicon-cog, .glyphicon-log-out {
  padding: 6px;
}
.container {
  /* margin-top: 4%; */
}
.btn-header {
  padding: 18px 20px;
  font-size: 22px;
}
.default-header {
  margin: 0 0 30px 0;
}
.default-header h1 {
  font-weight: 500;
  font-size: 34px;
  color: #000;
  line-height: 40px;
  margin-top: 0px;
}
.datepicker.dropdown-menu {
  visibility: visible;
  opacity: 1;
  width: auto;
}
.btn-lg {
  padding: 18px 20px;
  font-size: 19px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #bdc3c7 !important;
}
ul {
    /* list-style-type: none !important; */
    /* margin: 0 !important; */
    /* padding: 0 !important; */
}
li {
    /* display: inline !important; */
}
.vehicle-avatar {
  max-width: 130px;
  max-height: 170px;
  border-radius: 10%;
}
.btn-file {
    position: relative !important;
    overflow: hidden !important;
}
.btn-file input[type=file] {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    min-width: 100% !important;
    min-height: 100% !important;
    font-size: 999px !important;
    text-align: right !important;
    filter: alpha(opacity=0) !important;
    opacity: 0 !important;
    outline: none !important;
    background: white !important;
    cursor: inherit !important;
    display: block !important;
}
