.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #16A085 !important;
}

ul {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

li {
    display: inline !important;
}
