<footer class="footer-7">
  <div class="container">
    <a href="#"><span class="fui-home"> </span></a>
    <nav>
      <ul>
        <li><a href="#">HOME</a></li>
        <li><a href="#">WORK</a></li>
        <li class="scroll-btn"><a href="#" class="scroll-top fui-arrow-up"> </a></li>
        <li><a href="#">BLOG</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </nav>
    <div class="social-btns">
      <a href="#">
        <div class="fui-vimeo"></div>
      </a>
      <a href="#">
        <div class="fui-facebook"></div>
      </a>
      <a href="#">
        <div class="fui-twitter"></div>
      </a>
    </div>
  </div>
</footer>
