<div>
  <div class="modal fade" id="forgot-password-modal" tabindex="-1" role="dialog" aria-labelledby="forgot-password-modal-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title">Esqueceu seua Senha?</h4>
        </div>
        <div class="modal-body">
          <p>Informe seu endereço de email o mesmo que voce se cadastrou, e enviaremos um novo link para que crie uma nova senha.</p>
        </div>
        <form name="forgotPasswordForm" ng-submit="register()" role="form">
          <div class="modal-body">
            <div class="form-group" ng-class="{error: forgotPasswordForm.login.$invalid && !forgotPasswordForm.login.$pristine}">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" required ng-model="user.email" placeholder="Email">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Enviar meu reset link</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
