<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="#"><span class="fui-location"></span> Passeios</a></li>
      <li><a href="#"><span class="fui-user"></span> Perfil</a></li>
      <li><a href="#"><span class="fui-lock"></span> Admin</a></li>
    </ul>
  </div>
  <div class="col-md-8">
    <blockquote>
      <h5>Jipe 1</h5>
      <ul>
        <li>
          <label class="checkbox" for="seat1">
            <input type="checkbox" checked value="" id="seat1" data-toggle="checkbox">
            Livre
          </label>
        </li>
        <li>
          <label class="checkbox" for="seat1">
            <input type="checkbox" checked value="" id="seat1" data-toggle="checkbox">
            Livre
          </label>
        </li>
        <li>
          <label class="checkbox" for="seat1">
            <input type="checkbox" value="" id="seat1" data-toggle="checkbox">
            Ocupado
          </label>
        </li>
      </ul>
      <small>Ultima Atualização: 01/01/2012 - 12:00</small>
    </blockquote>
    <hr>
    <blockquote>
      <h5>Jipe 2</h5>
      <label class="checkbox" for="seat2">
        <input type="checkbox" checked value="" id="seat2" data-toggle="checkbox">
        Livre
      </label>
      <small>Ultima Atualização: 01/01/2012 - 12:00</small>
    </blockquote>
    <hr>
    <blockquote>
      <h5>Jipe 3</h5>
      <label class="checkbox" for="seat2">
        <input type="checkbox" checked value="" id="seat2" data-toggle="checkbox">
        Livre
      </label>
      <small>Ultima Atualização: 01/01/2012 - 12:00</small>
    </blockquote>
    <hr>
    <blockquote>
      <h5>Flex Boat</h5>
      <ul>
        <li>
          <label class="checkbox" for="seat1">
            <input type="checkbox" checked value="" id="seat1" data-toggle="checkbox">
            Livre
          </label>
        </li>
        <li>
          <label class="checkbox" for="seat1">
            <input type="checkbox" checked value="" id="seat1" data-toggle="checkbox">
            Livre
          </label>
        </li>
        <li>
          <label class="checkbox" for="seat1">
            <input type="checkbox" value="" id="seat1" data-toggle="checkbox">
            Ocupado
          </label>
        </li>
        <li>
          <label class="checkbox" for="seat1">
            <input type="checkbox" value="" id="seat1" data-toggle="checkbox">
            Livre
          </label>
        </li>
        <li>
          <label class="checkbox" for="seat1">
            <input type="checkbox" value="" id="seat1" data-toggle="checkbox">
            Ocupado
          </label>
        </li>
        <li>
          <label class="checkbox" for="seat1">
            <input type="checkbox" value="" id="seat1" data-toggle="checkbox">
            Ocupado
          </label>
        </li>
      </ul>
      <small>Ultima Atualização: 01/01/2012 - 12:00</small>
    </blockquote>
  </div>
</div>
