<nav class="navbar navbar-default navbar-embossed navbar-lg" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only"></span>
    </button>
    <a class="navbar-brand" href="#/"><span class="fui-home"></span> Maremar</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <div class="navbar-form navbar-right">
      <div navbar-btn-signin></div>
      <div navbar-btn-signout ng-controller="SignoutController" ng-click="logout()"></div>
    </div>
    <div navbar-search></div>
  </div><!-- /.navbar-collapse -->
</nav><!-- /navbar -->
