<nav class="navbar navbar-default navbar-embossed navbar-lg" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only"></span>
    </button>
    <a class="navbar-brand" href="/"><span class="fui-home"></span> Maremar</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <ul class="nav navbar-nav">
      <li navbar-link-notifications></li>
    </ul>
    <form class="navbar-form navbar-right" action="#" role="search">
      <div navbar-btn-signin></div>
      <div navbar-btn-signout></div>
    </form>
    <div navbar-search></div>
  </div><!-- /.navbar-collapse -->
</nav><!-- /navbar -->
