<div class="col-md-8">
  <div class="text-center">
    <a class="btn btn-embossed btn-default btn-lg" href="/passeios/novo"> Criar Passeio</a>
  </div>
  <blockquote>
    <h5>Jipe 1</h5>
    <ul>
      <li>
        <label class="checkbox" for="seat1">
          <input type="checkbox" checked value="" id="seat1" data-toggle="checkbox">
          Livre
        </label>
      </li>
      <li>
        <label class="checkbox" for="seat1">
          <input type="checkbox" checked value="" id="seat1" data-toggle="checkbox">
          Livre
        </label>
      </li>
      <li>
        <label class="checkbox" for="seat1">
          <input type="checkbox" value="" id="seat1" data-toggle="checkbox">
          Ocupado
        </label>
      </li>
    </ul>
    <small>Ultima Atualização: 01/01/2012 - 12:00</small>
  </blockquote>
  <hr>
  <blockquote>
    <h5>Jipe 2</h5>
    <label class="checkbox" for="seat2">
      <input type="checkbox" checked value="" id="seat2" data-toggle="checkbox">
      Livre
    </label>
    <small>Ultima Atualização: 01/01/2012 - 12:00</small>
  </blockquote>
  <hr>
  <blockquote>
    <h5>Jipe 3</h5>
    <label class="checkbox" for="seat2">
      <input type="checkbox" checked value="" id="seat2" data-toggle="checkbox">
      Livre
    </label>
    <small>Ultima Atualização: 01/01/2012 - 12:00</small>
  </blockquote>
  <hr>
  <blockquote>
    <h5>Flex Boat</h5>
    <ul>
      <li>
        <label class="checkbox" for="seat1">
          <input type="checkbox" checked value="" id="seat1" data-toggle="checkbox">
          Livre
        </label>
      </li>
      <li>
        <label class="checkbox" for="seat1">
          <input type="checkbox" checked value="" id="seat1" data-toggle="checkbox">
          Livre
        </label>
      </li>
      <li>
        <label class="checkbox" for="seat1">
          <input type="checkbox" value="" id="seat1" data-toggle="checkbox">
          Ocupado
        </label>
      </li>
      <li>
        <label class="checkbox" for="seat1">
          <input type="checkbox" value="" id="seat1" data-toggle="checkbox">
          Livre
        </label>
      </li>
      <li>
        <label class="checkbox" for="seat1">
          <input type="checkbox" value="" id="seat1" data-toggle="checkbox">
          Ocupado
        </label>
      </li>
      <li>
        <label class="checkbox" for="seat1">
          <input type="checkbox" value="" id="seat1" data-toggle="checkbox">
          Ocupado
        </label>
      </li>
    </ul>
    <small>Ultima Atualização: 01/01/2012 - 12:00</small>
  </blockquote>
  <div class="pagination">
    <ul>
      <li class="previous">
        <a href="#" class="fui-arrow-left"></a>
      </li>
      <li class="active"><a href="#fakelink">1</a></li>
      <li><a href="#fakelink">2</a></li>
      <li><a href="#fakelink">3</a></li>
      <li><a href="#fakelink">4</a></li>
      <li class="next">
        <a href="#" class="fui-arrow-right"></a>
      </li>
    </ul>
  </div>
</div>

<div class="col-md-2">
  <div class="tabbable tabs-right">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="/passeios" data-toggle="tab">
          <span class="fui-location" data-placement="left" data-toggle="tooltip" title="Passeios"></span>
        </a>
      </li>
      <li>
        <a href="#1" data-toggle="tab">
          <span class="fui-eye" data-placement="left" data-toggle="tooltip" title="Histórico"></span>
        </a>
      </li>
      <li>
        <a href="#2" data-toggle="tab">
          <span class="glyphicon glyphicon-stats" data-placement="left" data-toggle="tooltip" title="Dashboard"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
