<div class="col-md-8">
  <div class="text-center">
    <a class="btn btn-embossed btn-default btn-lg" href="/veiculos/novo"> Cadastra Veículo</a>
  </div>
  <blockquote>
    <h5><a href="/veiculos/{{vehicle.id}}">Jipe 1</a></h5>
    <span>Motorista 1</span><br>
    <span>12 lugares</span><br>
    <span>120 passeios realizados</span><br>
    <small>Ultima Atualização: 01/01/2012 - 12:00</small>
  </blockquote>
  <hr>
  <blockquote>
    <h5>Jipe 2</h5>
    <span>Motorista 2</span><br>
    <span>12 lugares</span><br>
    <span>33 passeios realizados</span><br>
    <small>Ultima Atualização: 01/01/2012 - 12:00</small>
  </blockquote>
  <hr>
  <blockquote>
    <h5>Flexboat</h5>
    <span>Motorista flex</span><br>
    <span>18 lugares</span><br>
    <span>478 passeios realizados</span><br>
    <small>Ultima Atualização: 01/01/2012 - 12:00</small>
  </blockquote>
  <hr>
  <blockquote>
    <h5>Van</h5>
    <span>Motorista van</span><br>
    <span>16 lugares</span><br>
    <span>221 passeios realizados</span><br>
    <small>Ultima Atualização: 01/01/2012 - 12:00</small>
  </blockquote>
  <div class="pagination">
    <ul>
      <li class="previous">
        <a href="#" class="fui-arrow-left"></a>
      </li>
      <li class="active"><a href="#fakelink">1</a></li>
      <li><a href="#fakelink">2</a></li>
      <li><a href="#fakelink">3</a></li>
      <li><a href="#fakelink">4</a></li>
      <li class="next">
        <a href="#" class="fui-arrow-right"></a>
      </li>
    </ul>
  </div>
</div>

<div class="col-md-2">
</div>
