<div class="row">

  <div class="col-md-4">
  </div>

  <div class="col-md-4 text-center" style="margin-top: 10%;">
    <div ng-controller="SigninController">
      <form role="form" name="signinForm" ng-submit="authenticate(signinForm)" novalidate>
        <div class="form-group" ng-class="{ 'has-success': signinForm.email.$valid && submitted, 'has-error': signinForm.email.$invalid && submitted }">
          <div class="form-group">
            <input type="email" class="form-control" ng-model="user.email" required name="email" placeholder="Digite seu email" />
            <span class="input-icon fui-mail"></span>
            <p class="help-block" ng-show="signinForm.email.$error.required && submitted">
              Email é campo obrigatório
            </p>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-success': signinForm.password.$valid && submitted, 'has-error': signinForm.password.$invalid && submitted }">
          <div class="form-group">
            <input type="password" class="form-control" ng-model="user.password" required ng-minlength="6" name="password" placeholder="Digite sua senha">
            <span class="input-icon fui-lock"></span>
            <p class="help-block" ng-show="(signinForm.password.$error.minlength || signinForm.password.$error.required) && submitted">
              Senha deve ter no mínimo 6 caracteres
            </p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-embossed btn-hg btn-block">Entrar</button>
        </div>
      </form>
      <a class="text-muted" href="#"><ins>Esqueci minha senha</ins></a><br>
      <strong>Ainda não possui conta? <a href="#/cadastrar"><u>Cadastrar</u></a></strong>
    </div>
  </div>

  <div class="col-md-4">
  <div>

</div>
