<!DOCTYPE html>
<html ng-app="mrm" lang="en">
  <head>
    <meta charset="utf-8">
    <title>Maremar</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- build:css -->
    <link href="bower_components/flat-ui/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bower_components/flat-ui/css/flat-ui.css" rel="stylesheet">
    <link href="bower_components/common-files/css/icon-font.css" rel="stylesheet">
    <link href="bower_components/common-files/css/animations.css" rel="stylesheet">
    <link href="bower_components/common-files/css/jquery.bxslider.css" rel="stylesheet">
    <link href="bower_components/ui-kit/ui-kit-header/css/ui-kit-styles.css" rel="stylesheet">
    <link href="bower_components/ui-kit/ui-kit-price/css/ui-kit-styles.css" rel="stylesheet">
    <link href="bower_components/ui-kit/ui-kit-footer/css/ui-kit-styles.css" rel="stylesheet">
    <link href="bower_components/select2/select2.css" rel="stylesheet">
    <!--<link href="bower_components/bootstrap-datepicker/css/datepicker.css" rel="stylesheet">-->
    <link href="css/custom-tabs.css" rel="stylesheet">
    <link href="css/mrm.css" rel="stylesheet">
    <link href="css/flat-ui-select2.css" rel="stylesheet">
    <!-- endbuild -->

    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="top">

    <div class="container">

      <div class="row">
        <div ng-controller="CurrentUserController">
          <div class="col-md-2" ng-if="userLoggedIn()">
            <h4 class="text-center">Real Trip</h4><br>
            <a class="btn btn-embossed btn-primary btn-block" href="#/passeios/novo"> Criar Passeio</a><br>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#/passeios">Passeios</a></li>
              <li><a href="#/veiculos">Veículos</a></li>
              <li><a href="#">Pagamentos</a></li>
              <li><a href="#">Mensagens <span class="navbar-new">1</span></a></li>
            </ul>
            <br>
            <div class="col-md-5">
              <div ng-controller="SignoutController" ng-click="logout()">
                <button class="btn btn-embossed btn-defaut" data-toggle="tooltip" data-placement="top" title="Sair"><span class="glyphicon glyphicon-log-out"></span></button>
              </div>
            </div>
            <div class="col-md-5">
              <div ng-controller="SettingsController">
                <button class="btn btn-embossed btn-defaut" data-toggle="tooltip" data-placement="top" title="Configurações"><span class="glyphicon glyphicon-cog"></span></button>
              </div>
            </div>
          </div>
        </div>
        <div ng-view></div>
      </div>

      <footer class="footer-7">
        <div class="container">
          <a href="#"><span class="fui-home"> </span></a>
          <nav>
            <ul>
              <li><a href="#">HOME</a></li>
              <li><a href="#">WORK</a></li>
              <li class="scroll-btn"><a href="#" class="scroll-top fui-arrow-up"> </a></li>
              <li><a href="#">BLOG</a></li>
              <li><a href="#">CONTACT</a></li>
            </ul>
          </nav>
          <div class="social-btns">
            <a href="#">
              <div class="fui-vimeo"></div>
            </a>
            <a href="#">
              <div class="fui-facebook"></div>
            </a>
            <a href="#">
              <div class="fui-twitter"></div>
            </a>
          </div>
        </div>
      </footer>
    </div>

    <!-- build:js -->
    <script src="bower_components/flat-ui/js/jquery-1.10.2.min.js"></script>
    <script src="bower_components/flat-ui/js/bootstrap.min.js"></script>
    <script src="bower_components/flat-ui/js/bootstrap-select.js"></script>
    <script src="bower_components/flat-ui/js/bootstrap-switch.js"></script>
    <script src="bower_components/flat-ui/js/flatui-checkbox.js"></script>
    <script src="bower_components/flat-ui/js/flatui-radio.js"></script>
    <script src="bower_components/flat-ui/js/bootstrap-switch.js"></script>
    <script src="bower_components/flat-ui/js/jquery.tagsinput.js"></script>
    <script src="bower_components/flat-ui/js/jquery.placeholder.js"></script>

    <script src="bower_components/common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="bower_components/common-files/js/modernizr.custom.js"></script>
    <script src="bower_components/common-files/js/page-transitions.js"></script>
    <script src="bower_components/common-files/js/easing.min.js"></script>
    <script src="bower_components/common-files/js/jquery.svg.js"></script>
    <script src="bower_components/common-files/js/jquery.svganim.js"></script>
    <script src="bower_components/common-files/js/jquery.parallax.min.js"></script>
    <script src="bower_components/datepicker/index.js"></script>
    <script src="bower_components/common-files/js/startup-kit.js"></script>
    <script src="bower_components/select2/select2.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <!--<script src="bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>-->
    <script src="/socket.io/socket.io.js"></script>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/ngUpload/ng-upload.js"></script>
    <script src="bower_components/angular-socket-io/socket.js"></script>
    <script src="bower_components/angular-ui-select2/src/select2.js"></script>

    <script src="js/app/mrm.js"></script>

    <script src="js/app/utils/date-serializer.js"></script>
    <script src="js/app/utils/date-validator.js"></script>

    <script src="js/app/directives/navbar-btn-signin.js"></script>
    <script src="js/app/directives/navbar-btn-signout.js"></script>
    <script src="js/app/directives/navbar-link-notifications.js"></script>
    <script src="js/app/directives/navbar-search.js"></script>
    <script src="js/app/directives/navbar-vertical.js"></script>
    <script src="js/app/directives/datepicker.js"></script>

    <script src="js/app/routes/index.js"></script>
    <script src="js/app/routes/notifications.js"></script>
    <script src="js/app/routes/auth/signin.js"></script>
    <script src="js/app/routes/auth/signup.js"></script>
    <script src="js/app/routes/trips/index.js"></script>
    <script src="js/app/routes/trips/new.js"></script>
    <script src="js/app/routes/trips/edit.js"></script>
    <script src="js/app/routes/trips/view.js"></script>

    <script src="js/app/controllers/main.js"></script>
    <script src="js/app/controllers/auth/current-user.js"></script>
    <script src="js/app/controllers/profile/settings.js"></script>
    <script src="js/app/controllers/auth/signin.js"></script>
    <script src="js/app/controllers/auth/signup.js"></script>
    <script src="js/app/controllers/auth/signout.js"></script>
    <script src="js/app/controllers/trips/index.js"></script>
    <script src="js/app/controllers/trips/new.js"></script>
    <script src="js/app/controllers/trips/edit.js"></script>

    <script src="js/app/services/auth.js"></script>
    <script src="js/app/services/session.js"></script>
    <script src="js/app/services/user.js"></script>
    <script src="js/app/services/trip.js"></script>
    <script src="js/app/services/sync-trip.js"></script>

    <script src="js/app/mrm-run.js"></script>
    <!-- endbuild -->

  </body>
</html>
