<!DOCTYPE html>
<html ng-app="mrm" lang="en">
  <head>
    <meta charset="utf-8">
    <title>Maremar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="bower_components/flat-ui/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bower_components/flat-ui/css/flat-ui.css" rel="stylesheet">
    <link href="bower_components/common-files/css/icon-font.css" rel="stylesheet">
    <link href="bower_components/common-files/css/animations.css">
    <link href="bower_components/common-files/css/jquery.bxslider.css">
    <link href="bower_components/ui-kit/ui-kit-footer/css/style.css" rel="stylesheet">
    <link href="css/custom-tabs.css" rel="stylesheet">
    <link href="css/mrm.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div ng-include src="'/templates/navbar.html'"></div>
        <div navbar-vertical></div>
        <div ng-view></div>
      </div>
      <div ng-include src="'/templates/footer.html'"></div>
    </div>

    <script src="bower_components/flat-ui/js/jquery-1.10.2.min.js"></script>
    <script src="bower_components/flat-ui/js/bootstrap.min.js"></script>
    <script src="bower_components/flat-ui/js/bootstrap-select.js"></script>
    <script src="bower_components/flat-ui/js/bootstrap-switch.js"></script>
    <script src="bower_components/flat-ui/js/flatui-checkbox.js"></script>
    <script src="bower_components/flat-ui/js/flatui-radio.js"></script>
    <script src="bower_components/flat-ui/js/bootstrap-switch.js"></script>
    <script src="bower_components/flat-ui/js/jquery.tagsinput.js"></script>
    <script src="bower_components/flat-ui/js/jquery.placeholder.js"></script>

    <script src="bower_components/common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="bower_components/common-files/js/modernizr.custom.js"></script>
    <script src="bower_components/common-files/js/page-transitions.js"></script>
    <script src="bower_components/common-files/js/easing.min.js"></script>
    <script src="bower_components/common-files/js/jquery.svg.js"></script>
    <script src="bower_components/common-files/js/jquery.svganim.js"></script>
    <script src="bower_components/common-files/js/jquery.parallax.min.js"></script>
    <script src="bower_components/common-files/js/startup-kit.js"></script>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>

    <script src="js/app/mrm.js"></script>

    <script src="js/app/directives/navbar-btn-signin.js"></script>
    <script src="js/app/directives/navbar-btn-signout.js"></script>
    <script src="js/app/directives/navbar-link-notifications.js"></script>
    <script src="js/app/directives/navbar-search.js"></script>
    <script src="js/app/directives/navbar-vertical.js"></script>

    <script src="js/app/routes/notifications.js"></script>
    <script src="js/app/routes/auth/signin.js"></script>
    <script src="js/app/routes/auth/signup.js"></script>
    <script src="js/app/routes/trips/list.js"></script>
    <script src="js/app/routes/trips/new.js"></script>
    <script src="js/app/routes/vehicles/list.js"></script>
    <script src="js/app/routes/vehicles/new.js"></script>
    <script src="js/app/routes/vehicles/view.js"></script>
    <script src="js/app/routes/vehicles/edit.js"></script>

    <script src="js/app/controllers/main.js"></script>
    <script src="js/app/controllers/profile/settings.js"></script>
    <script src="js/app/controllers/auth/signin.js"></script>
    <script src="js/app/controllers/auth/signup.js"></script>
    <script src="js/app/controllers/auth/signout.js"></script>
    <script src="js/app/controllers/trips/list.js"></script>
    <script src="js/app/controllers/trips/new.js"></script>
    <script src="js/app/controllers/vehicles/list.js"></script>
    <script src="js/app/controllers/vehicles/new.js"></script>
    <script src="js/app/controllers/vehicles/view.js"></script>
    <script src="js/app/controllers/vehicles/edit.js"></script>

    <script src="js/app/services/auth.js"></script>
    <script src="js/app/services/session.js"></script>
    <script src="js/app/services/user.js"></script>
    <script src="js/app/services/vehicle.js"></script>

    <script src="js/app/mrm-run.js"></script>

  </body>
</html>
