<div class="col-md-1">
</div>

<div class="col-md-5">
  <div class="panel panel-default">
    <div class="panel-body">

      <div ng-controller="EditTripController">
        <form role="form" name="form" ng-submit="update(form)" novalidate>
          <div class="form-group" ng-class="{ 'has-success': form.vehicle.$valid && submitted, 'has-error': form.vehicle.$invalid && submitted }">
            <div class="form-group">
              <select ui-select2="{ allowClear: true }" ng-model="trip.vehicle._id" name="vehicle" data-placeholder="Selecione um Veículo" required>
                <option value=""></option>
                <option ng-repeat="vehicle in vehicles" value="{{vehicle._id}}">{{vehicle.name}}</option>
              </select>
              <p class="help-block" ng-show="form.vehicle.$error.required && submitted">
                Veículo é campo obrigatório
              </p>
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-success': form.date.$valid && submitted, 'has-error': form.date.$invalid && submitted }">
            <label>Data</label>
            <div class="form-group">
              <input type="text" class="form-control datepicker" value="{{trip.date}}" ng-model="trip.date" required name="date">
              <p class="help-block" ng-show="(form.date.$error.minlength || form.date.$error.required) && submitted">
                Data do Passeio é campo obrigatório
              </p>
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-success': form.startTime.$valid && submitted, 'has-error': form.startTime.$invalid && submitted }">
            <label>Partida</label>
            <div class="form-group">
              <input type="time" class="form-control" ng-model="trip.startTime" value="{{trip.startTime}}" min="06:00" max="20:00" required name="startTime" placeholder="Horário de partida HH:MM">
              <span class="input-icon fui-time"></span>
              <p class="help-block" ng-show="form.startTime.$error.required && submitted">
                Horário de Partida é campo obrigatório
              </p>
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-success': form.endTime.$valid && submitted, 'has-error': form.endTime.$invalid && submitted }">
            <label>Chegada</label>
            <div class="form-group">
              <input type="time" class="form-control" ng-model="trip.endTime" value="{{trip.endTime}}" min="07:00" max="21:00" required name="endTime" placeholder="Horário de chegada HH:MM">
              <span class="input-icon fui-time"></span>
              <p class="help-block" ng-show="form.endTime.$error.required && submitted">
                Horário de Chegada é campo obrigatório
              </p>
            </div>
          </div>
          <div class="pull-right">
            <a href="/passeios" class="btn btn-default btn-embossed">Voltar</a>
            <button type="submit" class="btn btn-primary btn-embossed">Salvar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
