<div class="col-md-1">
</div>

<div class="col-md-5">
  <div class="panel panel-default">
    <div class="panel-body">

      <div ng-controller="NewTripController" ng-init="allVehicles()">
        <form role="form" name="form" ng-submit="create(form)" novalidate>
          <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted, 'has-error': form.name.$invalid && submitted }">
            <label>Nome Veículo</label>
            <div class="form-group">
              <input type="text" class="form-control" ng-model="trip.vehicle.name" required name="name" placeholder="Digite o nome do veículo" />
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-success': form.capacity.$valid && submitted, 'has-error': form.capacity.$invalid && submitted }">
            <label>Capacidade</label>
            <div class="form-group">
              <input type="number" class="form-control" ng-model="trip.vehicle.capacity" required name="capacity" placeholder="Insira a capacidade de lugares do veículo">
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-success': form.date.$valid && submitted, 'has-error': form.date.$invalid && submitted }">
            <label>Data</label>
            <div class="form-group">
              <input type="date" class="form-control" ng-model="trip.date" required name="date">
              <p class="help-block" ng-show="(form.date.$error.minlength || form.date.$error.required) && submitted">
                Data do Passeio é campo obrigatório
              </p>
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-success': form.startTime.$valid && submitted, 'has-error': form.startTime.$invalid && submitted }">
            <label>Partida</label>
            <div class="form-group">
              <input type="time" class="form-control" ng-model="trip.startTime" min="06:00" max="20:00" required name="startTime" placeholder="Horário de partida HH:MM">
              <span class="input-icon fui-time"></span>
              <p class="help-block" ng-show="(form.startTime.$error.minlength || form.startTime.$error.required) && submitted">
                Horário de Partida é campo obrigatório
              </p>
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-success': form.endTime.$valid && submitted, 'has-error': form.endTime.$invalid && submitted }">
            <label>Chegada</label>
            <div class="form-group">
              <input type="time" class="form-control" ng-model="trip.endTime" min="07:00" max="21:00" required name="endTime" placeholder="Horário de chegada HH:MM">
              <span class="input-icon fui-time"></span>
              <p class="help-block" ng-show="(form.endTime.$error.minlength || form.endTime.$error.required) && submitted">
                Horário de Chegada é campo obrigatório
              </p>
            </div>
          </div>
          <div class="pull-right">
            <a href="#/passeios" class="btn btn-default btn-embossed">Voltar</a>
            <button type="submit" class="btn btn-primary btn-embossed">Salvar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
